.topselling {
  background-color: #e8e8ea;
  max-width: 1440px;
  height: 560px;
}

.custom-topselling-button {
  margin-top: 75px;
}

@media (max-width: 576px) {
  .topselling {
    height: 430px;
  }
  .custom-topselling-button {
    margin-top: 60px;
  }
}
